<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<div class="row">

		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Welcome to M-Tech Portal Server</h1>
			<hr />

			<div class="row">
				<div class="col-md-6 col-md-offset-0">
					<div style="text-align:center;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<form action="/api/uds" method="post">
							Enter number of user values to be generated: <input type="text" name="i" placeholder="1"/> <br/>
							<input type="submit" value="User Data Generator" />
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-0">
					<div style="text-align:center;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<form action="/api/sds" method="post">
							Enter number of Student values to be generated: <input type="text" name="i" placeholder="1"/> <br/>
							<input type="submit" value="Student Data Generator" />
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-0">
					<div style="text-align:center;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<form action="/api/meetds" method="post">
							Enter number of Teacher Meeting values to be generated: <input type="text" name="i" placeholder="1"/> <br/>
							<input type="submit" value="Teacher Meeting Data Generator" />
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-0">
					<div style="text-align:center;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<form action="/api/bpds" method="post">
							Enter number of Blog Post values to be generated: <input type="text" name="i" placeholder="1"/> <br/>
							<input type="submit" value="Blog Post Data Generator" />
						</form>
					</div>
				</div>
			</div>


		</div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
